canvas {
    z-index: 0;
    display: block;
    position: fixed;
    top: 0;
  }
  
  div.system-img-container {
    z-index: 1;
      position: fixed;
      top: 0;
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
  }
  
  img.system-img {
    position: relative;
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    transition: height 1s ease-in, opacity 0.5s ease-out;
  }

  button.in-middle {
    margin-left:auto;
    margin-right:auto;
  }

  button.side {
    margin-left:16px;
  }