.App {
  text-align: center;
}
.ant-card .ant-card-head, 
.ant-card .ant-card-body {
  background-color: rgb(18, 18, 18);
}

.ant-card .ant-card-body {
  padding: 1px;
}

.ant-card .ant-card-body .ant-typography a{
  color: rgba(255, 255, 255, 0.85);
}

html body, 
html .ant-menu-overflow {
  background-color: rgb(21 21 21);
}

canvas {
  z-index: 0;
  display: block;
  position: fixed;
}

div.system-img-container {
  z-index: 1;
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

img.system-img {
  position: relative;
  display: block;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  transition: height 1s ease-in, opacity 0.5s ease-out;
}